.login {
  display: grid;
  place-items: center;
  height: 100vh;
}


.login > img {
  object-fit: contain;
  max-width: 70%;
}

.login > a {
  padding: 20px;
  border-radius: 100px;
  background-color: #1dd760;
  font-weight: 800;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .login > img {
    max-width: 85%;
  }
}